pipeline/PL_IncrementalLoadDemo.json
{
	"name": "PL_IncrementalLoadDemo",
	"properties": {
		"activities": [
			{
				"name": "LKP_GetCurrentWaterMarkValue",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Log start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select currentwatermarkvalue from watermarkvalues",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_lkpwatermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_GetLatestWaterMarkValue",
				"description": "",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Log start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(UpdatedDate) as LatestWaterMarkValue from Students",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_lkpwatermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy StudentsData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKP_GetCurrentWaterMarkValue",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LKP_GetLatestWaterMarkValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT StudentId,StudentName,UpdatedDate FROM Students WHERE UpdatedDate>'@{activity('LKP_GetCurrentWaterMarkValue').output.FirstRow.currentwatermarkvalue}'\n and UpdatedDate<='@{activity('LKP_GetLatestWaterMarkValue').output.FirstRow.LatestWaterMarkValue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_lkpwatermark",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Incrementaltarget",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy StudentsData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_updatewatermark]",
					"storedProcedureParameters": {
						"LatestWaterMarkValue": {
							"value": {
								"value": "@activity('LKP_GetLatestWaterMarkValue').output.firstRow.LatestWaterMarkValue",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Studentsdb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ETL].[sp_pipelinelogging]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"PipelineStatus": {
							"value": "STARTED",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Studentsdb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ETL].[sp_pipelinelogging]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": null,
							"type": "Guid"
						},
						"PipelineStatus": {
							"value": "SUCCESS",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Studentsdb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log Failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update watermark",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ETL].[sp_pipelinelogging]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": null,
							"type": "Guid"
						},
						"PipelineStatus": {
							"value": "FAILED",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_Studentsdb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-08-12T03:08:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}